<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pastcustoms.cq" >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ComposeMessageActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SmsStatusReceiver">
            <intent-filter>
                <action android:name="com.pastcustoms.cq.SMS_SENT"/>
                <action android:name="com.pastcustoms.cq.SMS_DELIVERED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".SmsErrorDialogActivity"
            android:label="@string/title_Activity_Sms_Error_dialog"
            android:theme="@android:style/Theme.NoDisplay">
        </activity>

    </application>
</manifest>
